<!--Vanessa Victorino - 301201653-->
<!--COMP229-401 - Assignment #1-->

<div class="container">
    <h1>
        <%= title %>
    </h1>

    <body>
        <div class="leftSide">
            <h4 id="highlight">Student Name: Vanessa Victorino &nbsp;#301201653</h4>

            <p>I am a student in Software Engineering Technology in Centennial College.</p>
            <ul class="a-button">
                <li>Originally from Philippines</li>
                <li>Hometown: Toronto, Ontario</li>
                <li>Currently living in San Antonio, Texas</li>
                <li>Worked in healthcare field</li>
                <li>Life learner</li>
            </ul>
            <p>&nbsp; Some of my favourite things I like to do are:</p>
            <ul class="a-button">
                <li>Loves making handmade stuff and decors</li>
                <li>DIY and fixing things (love power tools!)</li>
                <li>Asking Google questions, and YouTube everything!</li>
                <li>Sketching and designing illustrations</li>
                <li>Hiking in nature is the best</li>
                <li>World travel (where I want to be where I never been before.)</li>
            </ul>
        </div>

        <div class="rightSide">
            <img src="./content/images/collage-photos.jpg" alt="collage image" width="350">

        </div>
    </body>

</div>