<div class="container">
    <h1>
        <%= title %>
    </h1>

    <body id="contactPage">
        <section>



            <div id="contact" class="contact-wrapper">



                <!-- Left contact page -->

                <form id="contact-form" class="form-horizontal" role="form" method="post" action="https://formsubmit.co/vanessaf.victorino@yahoo.com">

                    <div class="form-group">
                        <div class="col-sm-12">
                            <input type="text" class="form-control" id="name" placeholder="NAME" name="name" value="" size="35" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-12">
                            <input type="email" class="form-control" id="email" placeholder="EMAIL" name="email" value="" size="35" required>
                        </div>
                    </div>

                    <textarea class="form-control" rows="10" placeholder="MESSAGE" name="message" maxlength="300" required></textarea>

                    <button class="btn btn-default send-button" id="submit" type="submit" value="SEND">
                  <div class="alt-send-button">
                    <i class="fa fa-paper-plane"></i><span class="send-text">SEND</span>
                  </div>
                
                </button>

                </form>

                <!-- Left contact page -->

                <div class="direct-contact-container">

                    <ul class="contact-list">
                        <li class="list-item"><i class="fa fa-map-marker fa-2x"><span class="contact-text place"><a href="#" title="Where are you?">San Antonio, Texas</a></span></i></li>

                        <li class="list-item"><i class="fa fa-phone fa-2x"><span class="contact-text phone"><a href="#" title="Give me a call">(830)212-9899</a></span></i></li>

                        <li class="list-item"><i class="fa fa-envelope fa-2x"><span class="contact-text gmail"><a href="#" title="Send me an email">vanessaf.victorino@yahoo.com</a></span></i></li>

                    </ul>

                    <hr>
                    <ul class="social-media-list">
                        <li>
                            <a href="" target="_blank" class="contact-icon">
                                <i class="" aria-hidden="true"></i></a>
                        </li>
                        <li>
                            <a href="" target="_blank" class="contact-icon">
                                <i class="" aria-hidden="true"></i></a>
                        </li>
                        <li>
                            <a href="" target="_blank" class="contact-icon">
                                <i class="" aria-hidden="true"></i></a>
                        </li>
                        <li>
                            <a href="" target="_blank" class="contact-icon">
                                <i class="" aria-hidden="true"></i></a>
                        </li>
                    </ul>
                    <hr>

                    <div class="copyright">&copy; ALL OF THE RIGHTS RESERVED</div>

                </div>

            </div>

        </section>





    </body>

</div>