<div class="container">
    <h1>
        <%= title %>
    </h1>

    <body>
        <div id="projects-wrap">
            <p class="P">COMP-213 Assignments ~ Web Interface Design</p>
            <ul class="assignment-links">
                <li><a href="http://studentweb.cencol.ca/vvictori/index.html" target="_blank" class="alink"> A1 ~ Centennial College studentweb - Vanessa's Website</a></li>
                <li><a href="http://studentweb.cencol.ca/vvictori/assignment02.html" target="_blank" class="alink"> A2 ~ Websites about Protected Areas Issues - Marine Plastics</a></li>
                <li>
                    <a href="http://studentweb.cencol.ca/vvictori/assignment03.html" target="_blank" class="alink"> A3 ~ Shop for plants in Imaginarium Garden Centre</a>
                </li>
                <li>
                    <a href="http://studentweb.cencol.ca/vvictori/assignment04.html" target="_blank" class="alink"> A4~ Centennial College (Continuing Education) Evaluation Form</a>
                </li>
                <li>
                    <a href="http://studentweb.cencol.ca/vvictori/page1-home.html" target="_blank" class="alink"> Individual Project ~ Amelia's B&B Inn</a>
                </li>
            </ul>
            <p class="P">COMP-125 Assignments ~ Client-Side Web Development</p>
            <ul class="assignment-links">
                <li><a href="http://studentweb.cencol.ca/vvictori/SEMW22/BMRCalculator.html" target="_blank" class="alink"> A1 ~ BMR Calculator</a> </li>
                <li><a href="http://studentweb.cencol.ca/vvictori/SEMW22/Assignment2.html" target="_blank" class="alink"> A2 ~ Generate A Table</a></li>
                <li><a href="http://studentweb.cencol.ca/vvictori/SEMW22/A3gallery.html" target="_blank" class="alink"> A3 ~ Nixie the pug ~ Photo Gallery</a></li>
                <li><a href="http://studentweb.cencol.ca/vvictori/SEMW22/A4FormValidation.html" target="_blank" class="alink"> A4 ~Even Houdini could not escape this! ~ Form Validation</a></li>
                <li><a href="http://studentweb.cencol.ca/vvictori/SEMW22/A5login.html" target="_blank" class="alink"> A5 ~ a Cookie and a Map ~ Let's go! </a></li>
                <li><a href="http://studentweb.cencol.ca/vvictori/SEMW22/A6weather.html" target="_blank" class="alink"> A6 ~ Openweather ~ "Hey, * What's the weather in Toronto?" </a></li>
            </ul>



    </body>


    </div>