<nav class="navbar fixed-bottom bg-light" id="footer">
    <div class="container-fluid">
        <h6 id="copyright2">&copy; Copyright - Vanessa Victorino - Fall 2022 - email:
            <a href="mailto:vvictori@my.centennialcollege.ca" style="color:#20B2AA;">vvictori@my.centennialcollege.ca</a>
        </h6>
    </div>
</nav>